.pulse-container {
    position: relative;
    width: 40px;
    height: 10px;
    margin-left: 10px;
    display: inline-block;
}

.pulse-container > span {
    animation: bounce 1.2s ease-out infinite both;
    transform: scale(.3);
    border-radius: 100%;
    display: inline-block;
    margin-right: 1px;
    width: 10px;
    height: 10px;
    background-color: white;
}

.pulse-container > .bounce1 {
    animation-delay: -.32s;
}

.pulse-container > .bounce2 {
    animation-delay: -.16s;
}

.pulse-container > .bounce3 {
    margin-right: 0;
}

@keyframes bounce {
    0%,
    80%,
    100% {
        transform: scale(0.3);
    }
    40% {
        transform: scale(1);
    }
}
