.formContainer {
    min-width: 320px;
    max-width: 420px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.formContainer > form {
    border: 3px solid #f1f1f1;
    margin-top: 20px;
}

.inputsContainer {
    padding: 16px;
}

.submitButton {
    width: 100%;
    margin: 8px 0;
}

.submitButton:hover {
    opacity: 0.8;
}

.imgContainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

.imgContainer > img.avatar {
    width: 40%;
    border-radius: 50%;
}


